main {
  padding: 0px 0px 99px 0px;
}

.main-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 30px;
  padding-top: 30px;
}

.main-items__img {
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  margin-right: 50px;
  margin-left: 30px;
  overflow: hidden;
}

.main-items__img img {
  width: 100%;
}

.main-items__info {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.main-items__info div {
  margin-top: 10px;
}

.main-items__info-title {
  font-size: 22px;
}

.main-items__info-meta {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.5);
}

.main-items__info-price {
  font-size: 22px;
  font-weight: bold;
}

.post-btn {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 15px 25px 15px 25px;
  border-radius: 25px;
  position: fixed;
  bottom: 120px;
  right: 20px;
  background-color: var(--button-primary);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  text-decoration: none;
}

.post-btn:hover {
  background-color: var(--button-hover);
}
